@model EmployeeMgmt.Models.Employee

<h2>Add Employee</h2>
<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="Department"></label>
        <input asp-for="Department" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div><a href="c:\users\wiis\source\repos\tak7\tak7\views\employees\create.cshtml">c:\users\wiis\source\repos\tak7\tak7\views\employees\create.cshtml</a>
    <br />
    <button type="submit">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
